# --- Jupyter ---
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Example soil-structure data
Example_SS_Data/

# Local testing notebooks
smew_local_tests.ipynb
Example_SS.ipynb

dist/
smew.egg-info/

# --- Python ---
__pycache__/
*.py[cod]
*.pyo

# --- Temporary files ---
*.tmp
*.temp
*.swp
*.bak
*~

# --- OS / Editor junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs ---
*.log